Idea from:  
https://stackoverflow.com/questions/19436789

In [1]:
from Bio.SeqIO.FastaIO import SimpleFastaParser
import pandas as pd

This was esp useful:  
http://biopython.org/DIST/docs/tutorial/Tutorial.html#sec:low-level-fasta-fastq

In [2]:
count = 0
total_len = 0
with open("short_test1.fa") as in_handle:
    for title, seq in SimpleFastaParser(in_handle):
        count += 1
        total_len += len(seq)
print("%i records with total sequence length %i" % (count, total_len))

8 records with total sequence length 13629

In [3]:
with open('short_test1.fa') as fasta_file:  # Will close handle cleanly
    titles = []
    sequences = []
    for title, sequence in SimpleFastaParser(fasta_file):
        titles.append(title)
        sequences.append(sequence)

In [4]:
titles[0:2]

['MH363660 A/canine/Georgia/20170606-19/2017 2017/05/25 4 (HA)',
 'MH363665 A/canine/Georgia/20170606-19/2017 2017/05/25 8 (NS)']

In [5]:
sequences[0:2]

['AGCAAAAGCAGGGGATACTTTCATTAATCATGAAAACTGTTATTGCTTTAAGCTATATTTTCTGCCTGGCTTTTGGTCAGAATCTTCTAGGAAATGAAAATAATGCTGCAACACTATGCCTGGGACATCATGCAGTGCCGAACGGGACAATGGTAAAAACTATCACAGACGATCAAATTGAGGTGACCAACGCCACTGAGCTAGTCCAAAACTCCTCAACAGGGAAAATATGCAACAATCCCCACAAGATTCTTGATGGGAGGGACTGCACGCTAATAGATGCCCTACTAGGGGACCCACACTGTGACGTCTTCCAAAATGAGACATGGGACCTTTTTGTGGAACGAAGCAATGCTTTTAGCAATTGTTACCCTTATGATGTACCAGACTATGCATCCCTCCGATCCATAGTTGCATCATCAGGCACATTGGAGTTCATCACTGAAGGTTTCACTTGGGCAGGAGTAACTCAAAATGGAGGAAGCGGTGCTTGTAAAAGGGGACCTGCTAATAGTTTCTTCAGTAGATTGAATTGGTTAACTAAATCAGGAAATACATATCCAGTGTTGAATGTGACTATGCCAAACAACAACAATTTCGACAAATTATACATCTGGGGAGTTCATCACCCAAGCACTGATCAAGAACAAACCAGCCTGTATATTCAGGCCTCAGGAAGAGTCACAGTCTCTACCAGGAGAAGCCAACAGACCATAATCCCAAACATTGGATCTAGACCCTTGGTAAGGGGCCAATCTGGCAGAATAAGCGTATATTGGACAATAGTCAAACCTGGAGACATACTGGTAATAAACAGTAATGGAAACCTAATCGCTCCTCGAGGATACTTCAAAATGCACATTGGGAAAAGCTCAATAATGAGATCAGATGCACCTATTGACACCTGCATTTCCGAATGTATCACCCCGAACGGGAGCATCCCCAATGAAAAGCCCTTCCAAAATGTAAACAAGATCACATACGGAGCATGTCCCAAATATGTTAAGCAAAACACCTTGAAACTGGCAACAGGAATGCGGAATGTCCCTGAAAGGCAAACCAGAGGCCTGTTCGGCGCAATAGCAGGCTTCATAGAAAATGGATGGGAAGGGATGGTAGACGGTTGGTATGGCTTCAGACACCAAAATTCCGAAGGTACAGGACAAGCAGCAGACCTTAAAAGCACTCAGGCAGCCATTGACCAGATTAATGGGAAATTGAACAGAGTGATTGAAAAAACGAATGAAAAGTTCCATCAAATTGAAAAGGAGTTTTCCGAAGTAGAAGGGAGGATTCAAGACCTTGAAAGATACGTTGAAGACACAAAAATAGATCTTTGGTCTTACAATGCCGAGCTTCTTGTTGCCTTAGAAAACCAGAACACAATTGATTTAACTGATTCAGAAATGAACAAATTGTTTGAAAAGACTAGGAGGCAATTGAGGGAAAATGCTGAAGACATGGGCAATGGCTGCTTCAAAATCTACCACAAGTGTGACAATGCTTGCATAGAATCGATTAGAAACGGAACTTATGACCATAACATATATAGAGATGAGGCAGTGAACAATCGGTTCCAGATCAAAGGTGTTGAGCTAAAGTCTGGATACAAAGACTGGATCTTGTGGATTTCCTTTGCCATATCATGCTTTTTGCTTTGTGTTGTCTTGCTGGGTTTCATTATGTGGGCCTGCCAGAGAGGCAACATTAGGTGCAACATTTGCATTTGAGTGTACTAATAATTAAAAACACCCTTGTTTCTACT',
 'AGCAAAAGCAGGGTGACAAAAACATAATGGACTCCAACACTGTGTCAAGCTTTCAGGTAGACTGCTTTCTTTGGCATGTCCGCAAACGATTTGCAGACCAAGAACTGGGTGATGCCCCATTCCTTGATCGGCTTCGCCGAGATCAGAAGTCCCTAAGAGGAAGAGGCAGCACCCTTGGTCTGGACATTGAAACAGCTACTCGTATAGGAAAACAGATAGTGGAGTGGATTCTGGAGGAAGAATCCGATAAGGCACTTAAAATGACCATTGCTTCAGTCCCAGTTTCATGCTACCTAACTGATATGACACTTGAAGAAATGTCAAGAGACTGGTTCATGCTCATGCCAAAGCAAAAAGTAGCAGGGTCCCTTTGCATCAAAATGGACCAGGCAATAATGGATAAAAACATCACATTGAAAGCAAACTTCAGTGTGATTTTTGAGCGACTGGAAACTCTAATACTACTTAGAGCTTTCACAAACGAAGGAGCAATTGTGGGAGAAATTTCACCATTACCTTCTCTTCCAGGACATACTGATAAGGATGTCAAAAATGCAATTGGGATCCTCATCGGAGGGCTTGAATGGAATGATAACACAGTTCGAGTCTCTGAAATTCTACAGAGATTCGCTTGGAGAAGCAGTGATGAGAATGGGAGATCTTCACTCCCTCCAAAGTAGAAACGGAAAATGGCGAGAACAATTAAGTCAGAAATTTGAGGAAATAAGGTGGCTAATCGAAGAAGTACGGCATAGATTAAAGATTACGGAAAACAGCTTTGAACAAATAACATTTATGCAAGCCTTACAACTATTGCTTGAGGTAGAGCAAGAGATAAGAACTTTCTCGTTTCAGCTTATTTAATGATAAAAAACACCCTTGTTTCTACT']

In [6]:
test = pd.DataFrame(list(zip(titles, sequences)), columns=['titles','sequences'])

In [7]:
test

,titles,sequences
0,MH363660 A/canine/Georgia/20170606-19/2017 201...,AGCAAAAGCAGGGGATACTTTCATTAATCATGAAAACTGTTATTGC...
1,MH363665 A/canine/Georgia/20170606-19/2017 201...,AGCAAAAGCAGGGTGACAAAAACATAATGGACTCCAACACTGTGTC...
2,MH363670 A/canine/Georgia/20170606-19/2017 201...,AGCAAAAGCAGGAGTAAAAATGAACCCAAATCAAAAGATAATAGCA...
3,MH363671 A/canine/Georgia/20170606-19/2017 201...,AGCAAAAGCAGGTCAAATATATTCAATATGGAAAGAATAAAAGAAT...
4,MH363685 A/canine/Georgia/20170606-19/2017 201...,AGCAAAAGCAGGGTAGATAATCACTCACTGAGTGACATCAACGTCA...
5,MH363689 A/canine/Georgia/20170606-19/2017 201...,AGCAAAAGCAGGTACTGATCCAAAATGGAAGACTTTGTGAGACAAT...
6,MH363690 A/canine/Georgia/20170606-19/2017 201...,AGCAAAAGCAGGTAGATATTGAAAGATGAGTCTTCTAACCGAGGTC...
7,MH363696 A/canine/Georgia/20170606-19/2017 201...,AGCAAAAGCAGGCAAACCATTTGAATGGATGTCAATCCGACTTTAC...

In [8]:
with open('canine_flu_test.fa') as fasta_file: 
    ct_titles = []
    ct_sequences = []
    for title, sequence in SimpleFastaParser(fasta_file):
        ct_titles.append(title)
        ct_sequences.append(sequence)

In [9]:
caninet = pd.DataFrame(list(zip(ct_titles, ct_sequences)), columns=['titles','sequences'])

In [10]:
caninet.head()

,titles,sequences
0,MH363660 A/canine/Georgia/20170606-19/2017 201...,AGCAAAAGCAGGGGATACTTTCATTAATCATGAAAACTGTTATTGC...
1,MH363665 A/canine/Georgia/20170606-19/2017 201...,AGCAAAAGCAGGGTGACAAAAACATAATGGACTCCAACACTGTGTC...
2,MH363670 A/canine/Georgia/20170606-19/2017 201...,AGCAAAAGCAGGAGTAAAAATGAACCCAAATCAAAAGATAATAGCA...
3,MH363671 A/canine/Georgia/20170606-19/2017 201...,AGCAAAAGCAGGTCAAATATATTCAATATGGAAAGAATAAAAGAAT...
4,MH363685 A/canine/Georgia/20170606-19/2017 201...,AGCAAAAGCAGGGTAGATAATCACTCACTGAGTGACATCAACGTCA...

In [11]:
caninet.tail()

,titles,sequences
1235,MH266395 A/canine/South Carolina/132956/2017 2...,AGCAAAAGCAGGGTAGATAATCACTCACTGAGTGACATCAACGTCA...
1236,MH266396 A/canine/South Carolina/132956/2017 2...,AGCAAAAGCAGGGTGACAAAAACATAATGGACTCCAACACTGTGTC...
1237,MH266397 A/canine/South Carolina/132956/2017 2...,AGCAAAAGCAGGTACTGATCCAAAATGGAAGACTTTGTGAGACAAT...
1238,MH266398 A/canine/South Carolina/132956/2017 2...,AGCGAAAGCAGGCAAACCATTTGAATGGATGTCAATCCGACTTTAC...
1239,MH266399 A/canine/South Carolina/132956/2017 2...,AGCGAAAGCAGGTCAAATATATTCAATATGGAAAGAATAAAAGAAT...

In [12]:
with open('influenza.fna') as fasta_file: 
    cgi_titles = []
    cgi_sequences = []
    for title, sequence in SimpleFastaParser(fasta_file):
        cgi_titles.append(title)
        cgi_sequences.append(sequence)

In [13]:
influenza_na = pd.DataFrame(list(zip(cgi_titles, cgi_sequences)), columns=['titles','sequences'])

In [14]:
influenza_na.head()

,titles,sequences
0,gi|58576|gb|X52226|Influenza A virus (A/FPV/Ro...,AGCAAAAGCAGGAGTTCAAAATGAATCCAAATCAGAAAATAATAAC...
1,gi|59292|gb|X53029|Influenza A virus (A/USSR/9...,AGCAAAAGCAGGTAGATGTTGAAAGATGAGTCTTCTAACCGAGGTC...
2,gi|59294|gb|X59778|Influenza A virus (A/NIB/4/...,GGATCCTGTTATGTGCATTTACAGCTACAGATGCAGACACAATATG...
3,gi|59296|gb|X66320|Influenza A virus (A/Chile/...,ACACCAAATGGAACGAAAATCAGAACCCTAGAATGTTTTTGGCCAT...
4,gi|60457|gb|X08088|Influenza A virus (A/WSN/33...,ATGAGTCTTCTAACCGAGGTCGAAACGTACGTTCTCTCTATCGTCC...

In [15]:
influenza_na.tail()

,titles,sequences
655759,gi|1509579658|gb|LC430968|Influenza A virus (A...,AGCAAAAGCAGGGGAAAATAAAAGCAACCGAGATGAAGGCAATACT...
655760,gi|1509579660|gb|LC430969|Influenza A virus (A...,AGCAATAGCAGGGTAGATAATCACTCAATGAGTGACATCGAAATCA...
655761,gi|1509579662|gb|LC430970|Influenza A virus (A...,AGCGAAAGCAGGAGTTTAAAATGAATACAAATCAAAGAATAATAAC...
655762,gi|1509579664|gb|LC430971|Influenza A virus (A...,AGCAAAAGCAGGTAGATGTTTAAAGATGAGCCTTCTAACCGAGGTC...
655763,gi|1509579667|gb|LC430972|Influenza A virus (A...,AGCAAAAGCAGGGTGACAAAGACATAATGGACTCCAACACTGTGTC...

In [ ]:
%%timeit
with open('influenza.fna') as fasta_file: 
    cgi_titles = []
    cgi_sequences = []
    for title, sequence in SimpleFastaParser(fasta_file):
        cgi_titles.append(title)
        cgi_sequences.append(sequence)